<% @firms.each do |firm| %>
  <div class="well well-small">
  	<h3><%= firm.name  %></h4>
    <small><%= firm.description  %></small>
    


		<% if user_signed_in? %>
	  <% if current_user?(firm.user) || current_user.admin? %>
	    <%= link_to "delete", firm, method: :delete,
	                                data: { confirm: "You sure?" },
	                                class: "btn pull-right"%>
	  <% end %>
	  <% end %>

  </div>

<% end %>
