<div class="well well-small clearfix">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Создать категорию', new_category_path, class: "btn btn-primary btn-large" %>
    <% end %>
  <% end %>
</div>

<% @category.each do |category| %>
  <div class="well well-small clearfix">

    <h3><%= link_to category.name, category %><br/></h3>

  </div>
  
<% end %>