// Place all the styles related to the category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "displays";

.category_container {

  .category_item {
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */

    border-bottom: 1px solid #ccc;
    cursor: pointer;

    .item_in {
      background: url(cat_icon_1.png) 8px center no-repeat;
      
    .item_in2 {
      padding: 20px 20px 20px 48px;
      margin: 0 14px 0 0;
      background: url(cat_arrow.png) right center no-repeat;

      span {
        margin: 0 8px 0 0;
        font-size: 0.89em;
        color: #999;
      }
    }

    }

    .admin_buttons {
      display: none;
    }

  }

  .category_item.active .item_in2 {
    background: url(cat_arrow_d.png) right center no-repeat;
  }

  .nested_categories {
    display: none;
    
    .category_item {
      background: none;

      .item_in {
        background: none;

        .item_in2 {
          padding: 16px;
        }
      }
    }
  }

}


@media #{$medium} {
  .categories-index {
    .category_container {

      width: 240px;
      float: left;

      .category_item {
        background: none;
        border: none;
        cursor: pointer;

        .item_in {
          background: url(cat_icon_1.png) left center no-repeat;
          
        .item_in2 {
          padding: 20px 20px 10px 40px;
          margin: 0 14px 0 0;
          background: none;
        }

        }

        .admin_buttons {
          display: none;
        }

      }

      .category_item.active .item_in2 {
        background: url(cat_arrow_d.png) right center no-repeat;
      }

      .nested_categories {
        display: block;
        
        .category_item {
          background: none;

          .item_in {
            background: none;

            .item_in2 {
              padding: 8px 10px 8px 20px;
            }
          }
        }
      }

    }
  }



}