<div class="category">

  <div class="well well-small clearfix">

    <h3><%= link_to category.name, nested_category_path(category) %><br/></h3>
    <%= link_to "Новая подкатегория", new_category_path(:parent_id => category.id), class: "btn btn-primary pull-right" %>
  </div>

</div>