- if user_signed_in?
  - if current_user.admin?
    .panel.clearfix
      = link_to 'Создать категорию', new_category_path, class: "secondary button"


= nested_categories @categories.arrange(:order => :weight)