<div class="well well-small clearfix">
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Создать категорию', new_category_path, class: "btn btn-primary btn-large" %>
    <% end %>
  <% end %>
</div>



<%= nested_categories @categories.arrange(:order => :created_at) %>